<a href="https://colab.research.google.com/github/aquila00/MovieIt/blob/main/MovieIt_item_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sistema de Filtragem colaborativa - User Based

#Pré processamento

##Bibliotecas

In [ ]:
# Gerais
import pandas as pd
import numpy as np
import math

# Para separação de treino-teste
from sklearn.model_selection import train_test_split

# Para o RMSE
from sklearn.metrics import mean_squared_error

# Plot
import matplotlib.pyplot as plt
from pylab import title, xlabel, ylabel

# Google drive / Colab
from google.colab import drive

In [ ]:
# Acessando os arquivos no GoogleDrive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

##Database

### Ratings

In [ ]:
# 1 milhão
path = '/content/gdrive/MyDrive/movieit/ml-1m'
db_rating = pd.read_csv(f'{path}/ratings.dat', names=['userid', 'movieid', 'rating', 'timestamp'], usecols=['userid', 'movieid', 'rating'], skiprows=1, header=None, sep='::')

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

### Gêneros

In [ ]:
# gêneros
db_movie = pd.read_csv(f'{path}/movies.dat', names=['movieid', 'movietitle', 'genres'], skiprows=1, header=None, sep='::')

In [ ]:
db_movie

,movieid,movietitle,genres
0,2,Jumanji (1995),Adventure|Children's|Fantasy
1,3,Grumpier Old Men (1995),Comedy|Romance
2,4,Waiting to Exhale (1995),Comedy|Drama
3,5,Father of the Bride Part II (1995),Comedy
4,6,Heat (1995),Action|Crime|Thriller
...,...,...,...
3877,3948,Meet the Parents (2000),Comedy
3878,3949,Requiem for a Dream (2000),Drama
3879,3950,Tigerland (2000),Drama
3880,3951,Two Family House (2000),Drama
3881,3952,"Contender, The (2000)",Drama|Thriller

##Exploratória

In [ ]:
db_rating

         userid  movieid  rating
0             1      661       3
1             1      914       3
2             1     3408       4
3             1     2355       5
4             1     1197       3
...         ...      ...     ...
1000203    6040     1091       1
1000204    6040     1094       5
1000205    6040      562       5
1000206    6040     1096       4
1000207    6040     1097       4

[1000208 rows x 3 columns]

In [ ]:
n_ratings = len(db_rating)
n_users = len(db_rating['userid'].unique())
n_movies_avaliados = len(db_rating['movieid'].unique())
esparsidade = round(1.0 - n_ratings/float(n_users * n_movies_avaliados), 3)

print(f'Total de ratings: {n_ratings}\n'\
      f'Total de usuários únicos: {n_users}\n'\
      f'Total de filmes: {n_movies_avaliados}\n'\
      f'Média de ratings/user: {round(n_ratings/n_users, 2)}\n'\
      f'Esparsidade da base é de: {(esparsidade*100)}%'\
      f'\n')

print(f'{db_rating.info()}')

Total de ratings: 1000208
Total de usuários únicos: 6040
Total de filmes: 3706
Média de ratings/user: 165.6
Esparsidade da base é de: 95.5%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000208 entries, 0 to 1000207
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   userid   1000208 non-null  int64
 1   movieid  1000208 non-null  int64
 2   rating   1000208 non-null  int64
dtypes: int64(3)
memory usage: 22.9 MB
None

## Criando os conjuntos de treino e teste

**Considerações:**

Os conjuntos de treino e de teste foram criados pelos ids dos usuários uma vez que o conjunto da votação de um usuário compõe a integridade de suas preferências. 

A separação dos dados sem considerar esta integridade geraria problemas de particionamento do perfil do usuário alterando o resultado da similaridade.

In [ ]:
# matriz dos ids únicos dos usuários para a refereência do particionamento treino e teste
print(db_rating.movieid.unique())

[ 661  914 3408 ... 2845 3607 2909]

In [ ]:
# Separando o conjunto de treino e de teste, deixando 10% dos usuários para futuros testes
X_train, X_test = train_test_split(db_rating.movieid.unique(), test_size=0.2, random_state=700)

In [ ]:
# retornando os valores de filmes e de ratings para completar a matriz de treino
X_train = db_rating.loc[db_rating['movieid'].isin(X_train)]

# retornando os valores de filmes e de ratings para completar a matriz de teste
X_test = db_rating.loc[db_rating['movieid'].isin(X_test)]

### X_train - Exploratória

In [ ]:
X_train.head()

   userid  movieid  rating
2       1     3408       4
3       1     2355       5
5       1     1287       5
6       1     2804       5
7       1      594       4

In [ ]:
X_train.count()

userid     788865
movieid    788865
rating     788865
dtype: int64

In [ ]:
X_train.head()

   userid  movieid  rating
2       1     3408       4
3       1     2355       5
5       1     1287       5
6       1     2804       5
7       1      594       4

In [ ]:
n_ratings = len(X_train)
n_users = len(X_train['userid'].unique())
n_movies_avaliados = len(X_train['movieid'].unique())
esparsidade = round(1.0 -n_ratings/float(n_users * n_movies_avaliados),3)

print(f'Total de ratings: {n_ratings}\n'\
      f'Total de usuários únicos: {n_users}\n'\
      f'Total de filmes: {n_movies_avaliados}\n'\
      f'Média de ratings/user: {round(n_ratings/n_users, 2)}\n'\
      f'Esparsidade da base é de: {(esparsidade*100)}%'\
      f'\n')

print(f'{db_rating.info()}')

Total de ratings: 788865
Total de usuários únicos: 6040
Total de filmes: 2964
Média de ratings/user: 130.61
Esparsidade da base é de: 95.6%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000208 entries, 0 to 1000207
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   userid   1000208 non-null  int64
 1   movieid  1000208 non-null  int64
 2   rating   1000208 non-null  int64
dtypes: int64(3)
memory usage: 22.9 MB
None

### X_test - Exploratória

In [ ]:
X_test.head()

    userid  movieid  rating
0        1      661       3
1        1      914       3
4        1     1197       3
11       1     2398       4
17       1     3105       5

In [ ]:
X_test.count()

userid     211343
movieid    211343
rating     211343
dtype: int64

In [ ]:
X_test.head()

    userid  movieid  rating
0        1      661       3
1        1      914       3
4        1     1197       3
11       1     2398       4
17       1     3105       5

In [ ]:
n_ratings = len(X_test)
n_users = len(X_test['userid'].unique())
n_movies_avaliados = len(X_test['movieid'].unique())
esparsidade = round(1.0 -n_ratings/float(n_users * n_movies_avaliados),3)

print(f'Total de ratings: {n_ratings}\n'\
      f'Total de usuários únicos: {n_users}\n'\
      f'Total de filmes: {n_movies_avaliados}\n'\
      f'Média de ratings/user: {round(n_ratings/n_users, 2)}\n'\
      f'Esparsidade da base é de: {(esparsidade*100)}%'\
      f'\n')

print(f'{db_rating.info()}')

Total de ratings: 211343
Total de usuários únicos: 6032
Total de filmes: 742
Média de ratings/user: 35.04
Esparsidade da base é de: 95.3%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000208 entries, 0 to 1000207
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   userid   1000208 non-null  int64
 1   movieid  1000208 non-null  int64
 2   rating   1000208 non-null  int64
dtypes: int64(3)
memory usage: 22.9 MB
None

# Recomendando filme para usuário único

## Filtrando a base

### Funções

In [ ]:
def instanciando_filme_unico(base, id_filmeunico):
    """O "uservip" é instanciado a partir de um um usuário real do conjunto X_test visando a otimização de tempo para a criação de um novo usuário."""

    # Uma amostra do X_test para otimização de tempo, utilizando o id informado na variável id_arbitrario
    filmeunico = base.loc[base['movieid'] == id_filmeunico]

    return filmeunico

In [ ]:
def criar_base_para_correlacao(X_treino, filme):
    """Seleciona todos os usuários da base de treino que tenham assistido pelo menos um filme em comum com o "usuario" e o próprio usuario, pivotados"""

    # Adiciona o usuario à tabela para que o número de colunas seja igual ao da base e para, futuramente, fazer a correlação
    base = pd.concat([X_treino, filme], ignore_index=True, axis='index')

    base_pivotada = base.pivot_table(index='userid', columns='movieid', values='rating')
   
    return base_pivotada

In [ ]:
def calculando_correlacao(base, id_filme, metodo='pearson'):
    """Calculando pearson por default"""
    print(base)
    
    corr = base.corrwith(base[id_filme], method=metodo)
    corr.drop(index=id_filme, inplace=True)
    corr = corr[corr>0]
    similaridades = corr.to_list()
    indexes = corr.index.to_list()    
    dicionario = dict(zip(indexes, similaridades))
    
    return dicionario

In [ ]:
def criar_base_para_recomendacao(X_treino, usuario, dicionario_vizinhos_pesos):
    """remove o usuário da base com todos filmes que os vizinhos do usuario assistiram"""

    base_user = X_treino.loc[~X_treino['userid'].isin(usuario['userid']) & X_treino['movieid'].isin(list(dicionario_vizinhos_pesos.keys()))]
    base_user['similaridade'] = [dicionario_vizinhos_pesos[X_treino['movieid'][index]] for index in base_user.index]

    return base_user

In [ ]:
#retorna o valor do coeficiente de pearson 
def valor_item(base, user):
    """Verifica a nota do item não consumido pelo usuário novo, com base nos usuários vizinhos"""

    base = base.loc[base['userid'] == user]

    resultado = 0
    divisor = 0
    
    for linha in base.index:
        valor = base.loc[base.index == linha, 'rating'].iloc[0]
        similaridade = base.loc[base.index == linha, 'similaridade'].iloc[0]
        
        resultado = resultado + valor * similaridade
        divisor = divisor + similaridade

    try:
        resultado = resultado / divisor     
    except ZeroDivisionError:
        resultado = 0

    return resultado

In [ ]:
def recomendacoes(base_treino, filmeid=1357, metodo_de_calculo='pearson', rmse=False):

    filme = instanciando_filme_unico(base_treino, filmeid)

    if rmse == True:
        filme_original = filme.copy()
        quantidade = math.floor(len(filme_original.index) * 0.1)
        drop_index = np.random.choice(filme.index, quantidade, replace=False)

        filme_original = filme_original[filme_original.index.isin(list(drop_index))]  
        filme = filme.drop(drop_index)

    db_corr = criar_base_para_correlacao(base_treino, filme)
    correlacao = calculando_correlacao(db_corr, filmeid, metodo_de_calculo)
    db_rec = criar_base_para_recomendacao(base_treino, filme, correlacao)
    #Cria o vetor contendo os dados do usuário novo usuário para teste alterar o valor 0
    nova_linha = [valor_item(db_rec, j) for j in db_rec.movieid.unique()]

    # Cria a variável que armazena os filmes a serem recomendados de acordo com os critérios de similaridade
    users_recomendados = [[resultado, filme] for resultado, filme in 
                          zip(nova_linha, db_rec.movieid.unique()) 
                          if resultado != 0]

    if rmse == True:
        extra = [[resultado[1], filmeid, resultado[0]] 
                 for resultado in users_recomendados 
                 if resultado[1] in filme_original.userid.unique()]

        extra = pd.DataFrame(extra, columns=filme_original.columns)

        return filme_original, extra
    else:
        return users_recomendados

### Recomendando

In [ ]:
id = 2858

In [ ]:
#ordena os filmes por ordem ascendente de notas e printa a nota na tela
filmes_recomendados = recomendacoes(X_train, filmeid=id)

movieid  2     5     6     7     10    11    13    14    15    16    ...  \
userid                                                               ...
1         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5         NaN   NaN   2.0   NaN   NaN   NaN   NaN   NaN   NaN   3.0  ...
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
6036      NaN   NaN   3.0   NaN   NaN   3.0   NaN   NaN   NaN   3.0  ...
6037      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
6038      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
6039      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
6040      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movieid  3943  3944  3945  3946  3947  3948  3949  3950  3951  3952
userid
1         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
6036      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6037      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6038      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6039      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6040      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[6040 rows x 2964 columns]

/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.8/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
<ipython-input-22-857299bf0d80>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_user['similaridade'] = [dicionario_vizinhos_pesos[X_treino['movieid'][index]] for index in base_user.index]

In [ ]:
filmes_recomendados.sort(reverse=True)

In [ ]:
filmes_recomendados

[[4.906697328273252, 3324],
 [4.906155361553712, 446],
 [4.850389629031482, 1940],
 [4.80461851471212, 3902],
 [4.69352929938594, 1856],
 [4.680699822581582, 3306],
 [4.680094147941839, 567],
 [4.670664429912716, 2313],
 [4.668847859179639, 2574],
 [4.664011981633163, 215],
 [4.654570542482527, 1704],
 [4.643057388392296, 1488],
 [4.639761313486498, 2729],
 [4.638955189419225, 3181],
 [4.628222849552969, 1192],
 [4.620185453584355, 2467],
 [4.619940849001458, 152],
 [4.613578510927582, 3251],
 [4.6131822723792535, 2155],
 [4.607148790817002, 764],
 [4.60557379248111, 1371],
 [4.5901270691964315, 2694],
 [4.587534656389119, 2477],
 [4.57685178540592, 248],
 [4.575085285837197, 2791],
 [4.5692138993017375, 3221],
 [4.56722188949008, 2287],
 [4.565182979879042, 1702],
 [4.560244922847246, 3437],
 [4.549537096534865, 1349],
 [4.5489149396598485, 3347],
 [4.531102649751569, 121],
 [4.530181314477779, 521],
 [4.51791098267321, 1682],
 [4.515686087462051, 101],
 [4.514758190701181, 1188],
 [4.504197610358376, 2775],
 [4.502503927304195, 3238],
 [4.490089519937551, 1275],
 [4.487754845890752, 1171],
 [4.483434074414808, 2145],
 [4.474524153819549, 3036],
 [4.4734915716210475, 2875],
 [4.471423813531688, 946],
 [4.470638116966169, 1898],
 [4.462679059218791, 3409],
 [4.457293439255036, 1180],
 [4.4562664453450616, 421],
 [4.448982322057564, 3446],
 [4.447456971079292, 1378],
 [4.442641683141177, 2295],
 [4.440443658837288, 2417],
 [4.43227260405633, 2034],
 [4.428220157293298, 882],
 [4.424604244701134, 3011],
 [4.423093757287451, 420],
 [4.4225258278022945, 1289],
 [4.404783559294841, 3397],
 [4.399645623482763, 1518],
 [4.3909528024186155, 3103],
 [4.3881780916171165, 1302],
 [4.385963418927012, 3089],
 [4.383847298036022, 2062],
 [4.3834447365856315, 105],
 [4.3736836867681985, 2583],
 [4.373204452195185, 3343],
 [4.372061645511247, 2936],
 [4.365137448685715, 3016],
 [4.360025637407187, 2852],
 [4.35639314845879, 2253],
 [4.355726214996468, 3104],
 [4.353742816245274, 3649],
 [4.349618113851751, 2687],
 [4.349358402593697, 233],
 [4.348927100941344, 3809],
 [4.343532985231653, 3936],
 [4.343292521267584, 1643],
 [4.341993128367499, 1673],
 [4.339020481233586, 7],
 [4.33630866765908, 1245],
 [4.334647955694608, 3834],
 [4.334142615432005, 379],
 [4.332147690853209, 538],
 [4.3290096269161005, 356],
 [4.325720523264751, 3531],
 [4.324812810718037, 3930],
 [4.322562190456571, 681],
 [4.320131408426633, 3738],
 [4.319757668919386, 3587],
 [4.316201641663049, 437],
 [4.3124750109211565, 1330],
 [4.308160556498704, 2369],
 [4.303914217545823, 1191],
 [4.301453139501562, 158],
 [4.2954363342009225, 164],
 [4.292387773745874, 1092],
 [4.287556521015138, 1722],
 [4.287493589423174, 594],
 [4.286707924490481, 3045],
 [4.283846562786954, 3049],
 [4.280642957246867, 1490],
 [4.277383893771027, 3032],
 [4.276682209520701, 3844],
 [4.276629863597588, 2064],
 [4.274537244175194, 1816],
 [4.272280243413084, 902],
 [4.271899038842427, 3761],
 [4.271742040203946, 2553],
 [4.269000652783488, 3646],
 [4.267333338243019, 3818],
 [4.266839935875158, 1734],
 [4.262133710216755, 2706],
 [4.259269070952429, 951],
 [4.258241888344844, 1351],
 [4.2570390145013075, 2948],
 [4.254520722122011, 1082],
 [4.254333618582845, 3858],
 [4.251871886296638, 3235],
 [4.25031920096229, 943],
 [4.2482409184320975, 2468],
 [4.247253394282548, 1320],
 [4.246907811688654, 1997],
 [4.246102648710501, 2388],
 [4.245871423591565, 606],
 [4.244975939200544, 2447],
 [4.243617950282411, 2044],
 [4.2419969464144955, 2532],
 [4.24072572589364, 537],
 [4.239426841615067, 2762],
 [4.235324008095893, 3497],
 [4.2331409370042605, 2979],
 [4.230520946590975, 291],
 [4.230325675094513, 3038],
 [4.227949889530932, 2003],
 [4.227592292742657, 3877],
 [4.22650483419332, 2241],
 [4.2241414024185, 1456],
 [4.222804522966563, 1018],
 [4.221151936804779, 3426],
 [4.221075814439943, 2893],
 [4.220598428772698, 885],
 [4.216368674168012, 3611],
 [4.215859558570536, 640],
 [4.215323823191926, 2817],
 [4.2150416989616035, 3171],
 [4.21458088461489, 1907],
 [4.212436290365912, 353],
 [4.212383655534716, 1258],
 [4.2112662926100395, 2867],
 [4.209787549191759, 1454],
 [4.197141138505728, 3198],
 [4.195334996420951, 2049],
 [4.188985330006556, 3588],
 [4.187367151794718, 3139],
 [4.183570819095356, 205],
 [4.181386313628998, 2527],
 [4.179139704212504, 171],
 [4.177011212415346, 3173],
 [4.176739958320423, 3149],
 [4.176222356204002, 2297],
 [4.174270657891667, 162],
 [4.174106347220333, 1000],
 [4.172451773236009, 2137],
 [4.172120650419707, 1955],
 [4.171433655469985, 3706],
 [4.164610308324765, 2652],
 [4.1643686509681554, 3361],
 [4.164367908975496, 784],
 [4.163313660131907, 609],
 [4.155175046594434, 3814],
 [4.154309745521816, 852],
 [4.150062912355584, 2374],
 [4.147170830712705, 2613],
 [4.14623752870818, 315],
 [4.143158617006517, 3355],
 [4.143132543456116, 1175],
 [4.141748292937034, 1507],
 [4.138518410220165, 543],
 [4.131189537807838, 1176],
 [4.12703621752854, 771],
 [4.126551643726251, 55],
 [4.124793970219313, 2993],
 [4.124354142018627, 1834],
 [4.123483326648807, 3092],
 [4.122013023651623, 1026],
 [4.118883498603224, 1382],
 [4.11820325680922, 1753],
 [4.1144077275801045, 1224],
 [4.111162247866898, 539],
 [4.109208138849465, 3160],
 [4.109048071777532, 2379],
 [4.106950041245906, 2511],
 [4.106367309222067, 2407],
 [4.106282699853253, 2414],
 [4.104897160617382, 255],
 [4.104735786796039, 1254],
 [4.103104002720862, 874],
 [4.101968263294377, 1529],
 [4.101931642616125, 2045],
 [4.101635932640452, 1032],
 [4.101621778391147, 194],
 [4.101211229019531, 863],
 [4.099334540449852, 1590],
 [4.097893801280199, 2699],
 [4.095141701709177, 2624],
 [4.091733757915743, 3481],
 [4.0890514256021095, 1296],
 [4.088408813813127, 2766],
 [4.087796914308266, 638],
 [4.0868608900167676, 2091],
 [4.0865997777656, 2275],
 [4.084373446160344, 2337],
 [4.081149275611389, 2704],
 [4.080539213430148, 1327],
 [4.078662182366153, 351],
 [4.0777054682243445, 1645],
 [4.074960460099679, 1047],
 [4.073685660731322, 2908],
 [4.071232299312134, 615],
 [4.0711712912319165, 2607],
 [4.068519955144553, 3597],
 [4.064948055956932, 3897],
 [4.0639189284130826, 1212],
 [4.0636284029894485, 2648],
 [4.060069033678948, 3707],
 [4.060017938985042, 2294],
 [4.059315069902082, 1821],
 [4.058839968488612, 3374],
 [4.0586171964001725, 3066],
 [4.0571656416061135, 1414],
 [4.053531480906374, 3923],
 [4.05201144022135, 3949],
 [4.050822468594858, 3443],
 [4.048710740351699, 3025],
 [4.0459319708790655, 2211],
 [4.045057014256933, 269],
 [4.044281134470238, 2234],
 [4.043745638111144, 2266],
 [4.043381939673212, 343],
 [4.043372159764342, 2783],
 [4.042201512438543, 997],
 [4.038347726905539, 2152],
 [4.037823036187847, 3926],
 [4.037045929325673, 1388],
 [4.0369057809569915, 3535],
 [4.036722441667953, 2560],
 [4.0361310166388575, 339],
 [4.035854371316153, 330],
 [4.035809378043308, 2805],
 [4.035670044979044, 3511],
 [4.035247888251442, 3782],
 [4.034614773694524, 2066],
 [4.029528131386638, 3357],
 [4.027595195312544, 1744],
 [4.022993078520662, 289],
 [4.0226055749937375, 2197],
 [4.020835517206808, 2768],
 [4.020749398867765, 1085],
 [4.018096260992695, 3477],
 [4.017923438739945, 3874],
 [4.016144238661584, 2134],
 [4.012617695143539, 2384],
 [4.010565548045597, 94],
 [4.009896978371362, 358],
 [4.009198553768154, 2678],
 [4.00867841734572, 2460],
 [4.007862322040365, 767],
 [4.0070070042315145, 1061],
 [4.005685070768217, 2982],
 [4.004914000010247, 3788],
 [4.00356909233313, 986],
 [4.003027177188632, 2531],
 [4.001917480157057, 2869],
 [3.99972784773414, 241],
 [3.998358727711111, 3177],
 [3.998142890882267, 1575],
 [3.996676790467441, 2989],
 [3.995078552569497, 994],
 [3.993514353167066, 2862],
 [3.9923571888095513, 1927],
 [3.9922575945700607, 907],
 [3.991212867910336, 3505],
 [3.9906795736611715, 2088],
 [3.9897404359270823, 1249],
 [3.9896699841440855, 2190],
 [3.9884024010629817, 388],
 [3.987812143691926, 278],
 [3.9863623664875405, 561],
 [3.9851449618313004, 132],
 [3.983951929150537, 2656],
 [3.983885031014036, 54],
 [3.9816986205129004, 1237],
 [3.9795133133874083, 3451],
 [3.979374363372092, 2103],
 [3.978696813870429, 3258],
 [3.9761611981944704, 2115],
 [3.9757278638085545, 3708],
 [3.9757035789705415, 3176],
 [3.975079986490324, 2094],
 [3.9746309475930857, 861],
 [3.973052968172729, 2932],
 [3.9725713507739626, 2332],
 [3.9718523266604175, 3534],
 [3.969055762892108, 549],
 [3.9679056203935623, 2718],
 [3.9675179525250828, 917],
 [3.9673547851346025, 37],
 [3.9669978875723872, 1668],
 [3.9644918404415432, 3316],
 [3.9637032747388674, 715],
 [3.9623649832161414, 3087],
 [3.9612669057483667, 2654],
 [3.960340165222263, 1022],
 [3.9601619811964515, 1620],
 [3.9596511248110455, 1957],
 [3.959315425528409, 924],
 [3.958932414498019, 2971],
 [3.958428229255759, 2587],
 [3.957020953341256, 475],
 [3.956733883930558, 762],
 [3.956040442796962, 2693],
 [3.954410184340726, 3039],
 [3.953384406881978, 1031],
 [3.953030264502518, 650],
 [3.9505727466220724, 348],
 [3.9505614858026905, 471],
 [3.947773783582255, 3716],
 [3.9474471650985543, 2166],
 [3.9474424120257106, 1526],
 [3.9465321967492213, 3655],
 [3.946026958234598, 2192],
 [3.9444915892211196, 2597],
 [3.942245739145021, 562],
 [3.9418159671882695, 3633],
 [3.9406824045427298, 2393],
 [3.9406290729585858, 512],
 [3.9393969366717667, 3004],
 [3.9383699487028285, 116],
 [3.9382363798564977, 2210],
 [3.9369337164401106, 2347],
 [3.936576412821079, 2111],
 [3.9328846980546146, 3801],
 [3.932532546493595, 700],
 [3.9324934669121165, 1111],
 [3.9298422113274296, 3613],
 [3.9283075505106426, 3805],
 [3.9273333375732915, 1405],
 [3.9251706131198807, 1573],
 [3.922631371066073, 982],
 [3.922229575688277, 2377],
 [3.9219676888102093, 1046],
 [3.920846639121388, 2423],
 [3.919428167247914, 2938],
 [3.9192255197428505, 2256],
 [3.9182654627824327, 3330],
 [3.9178106839100804, 2397],
 [3.916899855200494, 3787],
 [3.9105387449256197, 2310],
 [3.909599182745897, 1298],
 [3.9079160183070423, 1089],
 [3.9063588541331935, 1566],
 [3.9048870728252716, 3742],
 [3.9047625166309063, 2660],
 [3.9043615335580193, 2759],
 [3.903321080793099, 3549],
 [3.902350440307271, 3811],
 [3.902301120225007, 3617],
 [3.9007213511967165, 3008],
 [3.8967724614111345, 3917],
 [3.896568702015007, 605],
 [3.896343071569781, 3515],
 [3.8952055052905386, 1054],
 [3.8922772037989724, 2716],
 [3.8897036628347, 2819],
 [3.8882429613850977, 912],
 [3.8876495755569493, 1554],
 [3.8842669687893876, 3417],
 [3.8841594958204695, 742],
 [3.8832756513764695, 1999],
 [3.88325342706162, 769],
 [3.8813013870829676, 3044],
 [3.8761553700852933, 316],
 [3.8749006075908325, 719],
 [3.874839675561233, 3665],
 [3.8747499297745307, 3263],
 [3.872797075834939, 954],
 [3.870376530840513, 2448],
 [3.8702260051506494, 2732],
 [3.868749731443334, 2273],
 [3.8678595355713252, 3927],
 [3.8653952128328246, 3060],
 [3.8646969753641933, 1247],
 [3.8637806144621805, 504],
 [3.863117525191982, 1348],
 [3.859369801943455, 2336],
 [3.8586902885896315, 3194],
 [3.8584949482234654, 3640],
 [3.8568891102098406, 1950],
 [3.854637163038247, 440],
 [3.8541156261385496, 2090],
 [3.852834348276434, 2640],
 [3.849375218934452, 911],
 [3.8491632459490637, 47],
 [3.8488808975149142, 2518],
 [3.844945833055566, 2123],
 [3.8448191964474967, 418],
 [3.8420900352985936, 2360],
 [3.8404183145617576, 3456],
 [3.8401432587701168, 2871],
 [3.8381157445678444, 547],
 [3.834352936784574, 1619],
 [3.832199227074208, 3414],
 [3.8291472929251955, 2804],
 [3.8268735235728086, 3743],
 [3.8263100328479274, 238],
 [3.825413203402788, 2068],
 [3.8252317500169783, 3885],
 [3.8245812951593634, 210],
 [3.823956639556365, 2160],
 [3.8227904040439893, 1024],
 [3.822715682405236, 3116],
 [3.822296276931885, 1810],
 [3.822107708443967, 3566],
 [3.8203010901811703, 476],
 [3.820089773474563, 3823],
 [3.8196520826421043, 254],
 [3.8195734006878332, 3146],
 [3.816957169772479, 753],
 [3.8161640168366544, 3710],
 [3.815017414191116, 2835],
 [3.812374957839686, 876],
 [3.81131049933033, 2889],
 [3.8095774149421313, 3498],
 [3.8095752437604675, 449],
 [3.8095292311865254, 2441],
 [3.808026871877891, 3799],
 [3.8073510680332405, 3050],
 [3.8051876778049145, 198],
 [3.8042250290424975, 249],
 [3.80277822131715, 3095],
 [3.7990212814032036, 2300],
 [3.798404420299511, 1484],
 [3.7977212954136177, 3908],
 [3.7956183702314816, 3623],
 [3.794821715318389, 3364],
 [3.793946074418501, 3661],
 [3.7934720002977884, 1037],
 [3.7929888256607454, 484],
 [3.7926675629274977, 522],
 [3.79177845551189, 1135],
 [3.7913177146812296, 799],
 [3.7890683055655416, 2412],
 [3.7877862233328856, 3739],
 [3.78732766230896, 781],
 [3.7871412123087826, 2173],
 [3.7865042151272146, 2426],
 [3.782744031534267, 571],
 [3.780254704701033, 2182],
 [3.779461142884992, 3521],
 [3.7772213258944896, 2505],
 [3.776836008782252, 3667],
 [3.7742019008485186, 3632],
 [3.773656260074187, 3076],
 [3.7722871792970913, 2890],
 [3.7719499637975558, 3435],
 [3.7693499676386626, 2394],
 [3.768088436974775, 766],
 [3.767073714805814, 2580],
 [3.7656813990458646, 2475],
 [3.758155644339732, 1044],
 [3.7578608211692224, 1695],
 [3.7573819057740696, 2949],
 [3.7567430760709923, 783],
 [3.7564596197035662, 3616],
 [3.756334927527876, 1219],
 [3.7555079227101396, 2093],
 [3.7554353292752625, 2120],
 [3.7551393378586195, 948],
 [3.755008037576841, 468],
 [3.750649044214543, 804],
 [3.749391539602003, 3222],
 [3.749288255467575, 2856],
 [3.749124660673814, 892],
 [3.748974110195932, 493],
 [3.747721781960024, 1013],
 [3.7476000094266695, 2499],
 [3.7463936313004957, 3523],
 [3.7451661240515723, 1696],
 [3.7444586637287487, 718],
 [3.7439812721475576, 1939],
 [3.7431453187608397, 1931],
 [3.7424203139394385, 2721],
 [3.740528048063505, 107],
 [3.7387116010764547, 1248],
 [3.737268291425281, 3803],
 [3.7359996142646756, 515],
 [3.7348053893490705, 2735],
 [3.7344400943571547, 908],
 [3.7332675204726087, 3765],
 [3.731681325949818, 1463],
 [3.7307645890899015, 2521],
 [3.728075389011794, 2364],
 [3.727762831601111, 3553],
 [3.726760747423953, 3932],
 [3.7264875622905547, 3499],
 [3.725636248609125, 338],
 [3.7254507933842276, 251],
 [3.725227966926089, 1011],
 [3.7240322174572427, 2746],
 [3.7228162238836733, 2067],
 [3.7216425485801103, 425],
 [3.7159547020724246, 1614],
 [3.715949114953896, 1580],
 [3.7142248759333456, 3056],
 [3.7140708600525665, 2425],
 [3.711946423604083, 1412],
 [3.7112379914853335, 2408],
 [3.708611513000208, 3660],
 [3.7063643900604144, 747],
 [3.7024371938454768, 2822],
 [3.702297092430535, 3754],
 [3.6982147796036626, 2539],
 [3.6976610234117224, 2956],
 [3.697007070277357, 2264],
 [3.6967059215696105, 3703],
 [3.691927834695627, 1221],
 [3.689475738462247, 3144],
 [3.6882853228682246, 3396],
 [3.6875870260134014, 555],
 [3.6866942863805505, 3393],
 [3.68612886904408, 1206],
 [3.6857327848049986, 2385],
 [3.684464086167516, 3676],
 [3.6799076731432545, 3115],
 [3.6795577822657255, 495],
 [3.6791912467982115, 2169],
 [3.678792919054746, 1677],
 [3.678432711093034, 3701],
 [3.6779629524808044, 40],
 [3.676044282458318, 3951],
 [3.6740263411906398, 3345],
 [3.672557182656739, 3545],
 [3.671736767799713, 1464],
 [3.671064068129867, 2529],
 [3.6703787806613652, 3736],
 [3.6657448486990583, 2183],
 [3.6656874858189674, 385],
 [3.662581918665549, 25],
 [3.6621974406582103, 2696],
 [3.6610174782005367, 29],
 [3.6589739774467716, 435],
 [3.6567362048927756, 2795],
 [3.6566771359181485, 1793],
 [3.6543483420013354, 2925],
 [3.6542725089677672, 3169],
 [3.6535325371901854, 2086],
 [3.65231275817973, 3416],
 [3.6517735285973507, 3906],
 [3.6508686962837555, 2021],
 [3.6503740584801774, 2585],
 [3.6501364538163132, 3533],
 [3.64990613233316, 627],
 [3.649584617369269, 3574],
 [3.6477206862376015, 1596],
 [3.6466591822524563, 959],
 [3.6459463706125406, 1189],
 [3.6448124778097295, 2306],
 [3.6431342458415847, 3109],
 [3.640653266150348, 405],
 [3.6404857879614325, 2335],
 [3.639884083907966, 2257],
 [3.6390195968780135, 2886],
 [3.6385253712425643, 3944],
 [3.6372595696277688, 2736],
 [3.636511954210776, 1629],
 [3.6340320408009306, 2252],
 [3.6336327391019068, 668],
 [3.631363160539799, 2146],
 [3.6281026278630546, 3071],
 [3.6267973502207953, 2416],
 [3.6243839524555437, 955],
 [3.6242530647717093, 2150],
 [3.6235883099127886, 1760],
 [3.623428055010647, 3586],
 [3.6227246981545966, 3931],
 [3.619333280515752, 1978],
 [3.6189614059406856, 1178],
 [3.616837949356026, 1850],
 [3.6156766770848163, 481],
 [3.615657906080226, 407],
 [3.611961767848888, 1970],
 [3.6104430125768125, 462],
 [3.608130525575136, 148],
 [3.606883356823331, 2383],
 [3.6063245386282277, 1911],
 [3.604460108232303, 1012],
 [3.6011709916424484, 1362],
 [3.601083047000367, 2478],
 [3.6008323828408964, 534],
 [3.6004851974236214, 805],
 [3.599803178424572, 325],
 [3.5991465516147922, 2255],
 [3.59790121346247, 1468],
 [3.597267271929494, 2877],
 [3.5969763866099482, 779],
 [3.596446150436744, 2302],
 [3.595075134676954, 172],
 [3.593807846118167, 1235],
 [3.5932729961981758, 3404],
 [3.5929188308648676, 782],
 [3.589787896888013, 2156],
 [3.5884745677354797, 1162],
 [3.58711423752548, 2495],
 [3.5844606892365602, 3785],
 [3.5840324920483972, 1731],
 [3.5835298602763372, 2525],
 [3.5833614614416365, 2357],
 [3.5815365617860224, 2894],
 [3.5809256408933403, 581],
 [3.5791691841896403, 1198],
 [3.57701952322272, 2442],
 [3.576628776444814, 3132],
 [3.576474423324422, 2053],
 [3.5752736760354678, 832],
 [3.574367015386983, 2717],
 [3.573692613739401, 788],
 [3.572500224768932, 1748],
 [3.571476383495035, 3062],
 [3.5676603931676767, 1715],
 [3.5657376290097056, 976],
 [3.5657062615013864, 3720],
 [3.5646763800137773, 3911],
 [3.5631906592757785, 1056],
 [3.559806430205403, 3156],
 [3.553620409920878, 2267],
 [3.5512449104350594, 3812],
 [3.5486195003045924, 2708],
 [3.5437611519029932, 3670],
 [3.5427507706200525, 2807],
 [3.5385111851846793, 1689],
 [3.537206932077318, 2186],
 [3.5364832212195325, 910],
 [3.5309218906013267, 1332],
 [3.5293753486055417, 1408],
 [3.5234535129356774, 2672],
 [3.522539308997802, 1257],
 [3.5220455373007975, 724],
 [3.520432719560573, 2493],
 [3.5193497080987783, 2998],
 [3.5161982291066898, 2902],
 [3.51474028377122, 1535],
 [3.514729612701993, 1187],
 [3.514729109300349, 2367],
 [3.5132426050224113, 3072],
 [3.512533642043438, 2710],
 [3.5083480570000884, 1600],
 [3.5043473732107433, 1310],
 [3.5034842698050137, 2157],
 [3.502319650939279, 333],
 [3.501071846746146, 765],
 [3.5008621780755007, 1785],
 [3.498671638714074, 2677],
 [3.494214032330067, 1948],
 [3.492265340542687, 1392],
 [3.4906358170755243, 2751],
 [3.4901906226241577, 1337],
 [3.489386537203774, 602],
 [3.4885641765959945, 2202],
 [3.4830938433592764, 497],
 [3.48263503606748, 1531],
 [3.4823042191367914, 3308],
 [3.4791651757032267, 260],
 [3.4783922325331638, 2262],
 [3.476697970619934, 365],
 [3.476692904143439, 2356],
 [3.47633214301745, 1060],
 [3.4748059962947995, 3579],
 [3.473807586940212, 510],
 [3.472462460694237, 3841],
 [3.470273630733244, 3575],
 [3.4669330963185447, 294],
 [3.465186971416813, 448],
 [3.465027369689028, 176],
 [3.453178401890818, 1084],
 [3.4506427752462834, 1346],
 [3.449876820640052, 3124],
 [3.44875576236865, 1574],
 [3.448064041435714, 1667],
 [3.446760405817227, 3478],
 [3.4272272504472143, 2269],
 [3.4257000831943927, 556],
 [3.425640833693939, 3090],
 [3.425052782960592, 2651],
 [3.4209759596791525, 1883],
 [3.4207877505311135, 3573],
 [3.4189895705294053, 3752],
 [3.4177640079740317, 2645],
 [3.4173012040754362, 1642],
 [3.41707266978412, 1209],
 [3.4118879157318482, 1220],
 [3.4100288697127277, 947],
 [3.409787691730405, 1090],
 [3.4096494735697114, 3516],
 [3.4037318604488616, 3040],
 [3.4019665889711295, 200],
 [3.3977588358533537, 3802],
 [3.396708016719509, 237],
 [3.395095814953493, 3328],
 [3.3940882676274136, 1136],
 [3.3933545419275593, 1829],
 [3.38658403693547, 3745],

In [ ]:
print(f"O filme {db_movie.loc[db_movie['movieid']==id, 'movietitle'].values[0]}, "\
      #f"dos gêneros {db_movie.loc[db_movie['movieid']==id, 'generos'].values[0]}, "\
      f"é recomendado para os usuários:")
for i in range(20):
    print(f"{filmes_recomendados[i][1]} - Nota: {round(filmes_recomendados[i][0], 2)}")

O filme American Beauty (1999), é recomendado para os usuários:
3324 - Nota: 4.91
446 - Nota: 4.91
1940 - Nota: 4.85
3902 - Nota: 4.8
1856 - Nota: 4.69
3306 - Nota: 4.68
567 - Nota: 4.68
2313 - Nota: 4.67
2574 - Nota: 4.67
215 - Nota: 4.66
1704 - Nota: 4.65
1488 - Nota: 4.64
2729 - Nota: 4.64
3181 - Nota: 4.64
1192 - Nota: 4.63
2467 - Nota: 4.62
152 - Nota: 4.62
3251 - Nota: 4.61
2155 - Nota: 4.61
764 - Nota: 4.61

# Medidas de avaliação

In [ ]:
filmes = np.random.choice(X_train.movieid.unique(), 3, replace=False)

In [ ]:
for filme_temp in filmes:
    filme_original, user_predito = recomendacoes(X_train, filmeid=filme_temp, rmse=True, metodo_de_calculo='spearman')

    for userid in filme_original.userid:
        if userid not in user_predito.userid.unique():
            user_predito = pd.concat([user_predito, pd.DataFrame([[userid, filme_temp, 0]], columns=user_predito.columns)], ignore_index=True, axis='index')

    filme_original = filme_original.sort_values(by=['userid'])
    user_predito = user_predito.sort_values(by=['userid'])

    plt.plot(filme_original.userid, filme_original.rating)
    plt.plot(user_predito.userid, user_predito.rating)
    
    title(f"Notas para o filme {filme_temp}")
    xlabel("User")
    ylabel("Notas")
    plt.legend(['original', 'predito'])

    rms = mean_squared_error(filme_original.rating, user_predito.rating, squared=False)

    print('RMSE:')
    print(rms)
    plt.show()

movieid  2     5     6     7     10    11    13    14    15    16    ...  \
userid                                                               ...
1         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5         NaN   NaN   2.0   NaN   NaN   NaN   NaN   NaN   NaN   3.0  ...
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
6036      NaN   NaN   3.0   NaN   NaN   3.0   NaN   NaN   NaN   3.0  ...
6037      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
6038      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
6039      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
6040      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

movieid  3943  3944  3945  3946  3947  3948  3949  3950  3951  3952
userid
1         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
6036      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6037      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6038      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6039      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6040      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[6040 rows x 2964 columns]

/usr/local/lib/python3.8/dist-packages/scipy/stats/stats.py:4484: SpearmanRConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(SpearmanRConstantInputWarning())
<ipython-input-22-857299bf0d80>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_user['similaridade'] = [dicionario_vizinhos_pesos[X_treino['movieid'][index]] for index in base_user.index]